.friend-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0.75rem 1rem;
}

.friend-info {
  font-weight: 500;
}

.pending-friend-acctions-container {
  display: flex;
  align-items: center; 
  height: 100%;  
}

.pending-friend-actions {
  display: flex;
  align-items: center; 
  justify-content: center;
  height: 100%;  
}

.pending-friend-actions button {
  margin-left: 10px;
}

.pending-friend-accept-btn {
    text-align: center;
    /* width: 50; */
    /* max-width: 100%; */
    padding: 0.75rem;
    /* margin-top: 1rem; */
    background-color: #6CDBAB;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
    align-self: center;
}

.pending-friend-decline-btn {
    text-align: center;
    /* width: 50; */
    /* max-width: 100%; */
    padding: 0.75rem;
    /* margin-top: 1rem; */
    background-color: #F24822;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
    align-self: center;
}

.friend-status-message {
  height: 70px;
  /* color: #F24822; */
  font-weight: bold;
  margin: 10px 0;
  text-align: center;
  font-size: 1.20em;
  /* opacity: 1; */
  animation: fadeIn 0.3s ease-in-out;
}

.friend-status-message.accepted {
  color: #6CDBAB;
}

.friend-status-message.declined {
  color: #F24822; 
}

.pending-friends-confirmation-dropdown {
  background-color: #6CDBAB;
  color: white;
  align-items: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.pending-friends-confirmation-dropdown {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #6CDBAB;
  color: white;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideDown 0.3s ease-out;
  height: 50px;
}

.pending-friends-confirmation-dropdown.declined {
  background: #6CDBAB;
  color: #F24822;
}

/* Make close button sit on far right */
.pending-friend-dropdown-close-btn-container {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.pending-friend-dropdown-close-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}


/* .success-message {
  color: #F24822;
  font-weight: bold;
  margin: 10px 0;
  text-align: center;
} */


.pending-friend-accept-btn:hover {
  background-color: #5bc79a;
}

.pending-friend-decline-btn:hover {
  background-color: #c0392b;
}