body {
    display: flex;
    /* flex-direction: column; */
    /* system-ui for cards, avenir titles menu, roboto? */
    font-family: system-ui, Avenir, 'Calibri', 'Trebuchet MS', sans-serif;
    color: #222;
    opacity: 1;
    transition: opacity 3s;
    background-color: #fff;
    justify-content: center;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* h1 {
    font-size: 55;
    font-weight: bold;
} */

.spacer {
    display: flex;
    /* width: 500px; */
}

.main-body {
  display: flex;
  height: 100vh;
}

/* All Feature Components will render inside main-content div */
.main-content { 
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
  width: 80%;
}