.nav-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  min-height: 60px;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
  background-color: #6CDBAB;
  position: relative;
  /* z-index: 1000;  */
}

.nav-content {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin: 0;
  list-style: none;
}

.nav-home {
  flex: 0 0 auto;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
  color: white;
}

.nav-spacer {
  flex-grow: 1;
}

/* .profile-dropdown { */
  /* position: absolute; */
  /* margin-left: 20px;
  flex: 0 0 auto;
} */

.nav-user-name {
  cursor: pointer;
  font-weight: bold;
  color: white;
}

.profile-dropdown {
  /* font-size: 22px; */
  position: absolute;
  left: auto;
  right: 35px;
  top: 70px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  list-style: none;
  padding: 8px 0;
  margin: 0;
  min-width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-dropdown {
  font-size: 16px;
  padding: 20px 20px 20px 25px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.profile-dropdown-login-items-container {
  display: flex;
  justify-content: flex-end; 
  width: 100%;
}

.profile-dropdown-login-item {
  color: #555;
}

.profile-dropdown-login-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
  font-weight: bold;
  text-align: right;
}

button.profile-dropdown-login-item:hover {
  text-decoration: underline;
}

li.profile-dropdown-login-item span:hover {
  text-decoration: underline;
  cursor: pointer;
}


.nav-profile {
  margin-left: 20px;
  flex: 0 0 auto;
}

.profile-dropdown-btn button {
  display: flex;
  align-items: center;   /* vertical */
  justify-content: center; /* horizontal */
  height: 40px;
  width: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: white;
}

.profile-dropdown hr {
  border: none;
  height: 1px;
  background-color: #ccc;
  width: 100%;
  margin: 8px 0;
}

.profile-dropdown div {
  cursor: pointer;
}

.dropdown-user-profile:hover {
  text-decoration: underline;
}

.nav-logo {
  height: 40px;
  width: auto;
  object-fit: contain;
}

.nav-user-container {
  display: flex;
  align-items: center;
}

.nav-user-img img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 0.75rem;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}